main {
    width: 50%;
    margin: auto;
    text-align: center;
}

table{
    margin: auto;
}

table, th, id{
    
    border-collapse: collapse;
    border: 2px solid black;
    
}

th, td{
    padding: auto;
}