* {
	font-family: 'Poppins', sans-serif;
}

main {
	width: 50%;
	margin: 50px auto;
	text-align: center;
}

table {
	margin: 50px auto;
}

table,
th,
td {
	border-collapse: collapse;
	border: 3px solid #000;
}

th,
td {
	padding: 5px;
}
thead tr {
	background-color: #009879;
	color: #ffffff;

	font-weight: bold;
}
